.context {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  @include mobile {
    width: 90%;
    margin: 0 auto;
  }
}

.context__title {
  @include mobile {
    padding: 0 15px;
    margin-top: 30px;
  }
}

.context__description {
  @include mobile {
    margin: 30px 0;
  }
}
