.context {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  @include tablet {
    min-height: 206px;
    width: 70%;
    margin: 0 auto;
  }
}

.context__title {
  padding: 32px 15px;
  width: 90%;

  @include tablet {
    padding: 0;
    margin-top: 20px;
  }

  @include desktop {
    margin-top: 30px;
    width: 70%;
  }

  &--photo {
    padding: 0;
    padding-top: 32px;
  }

  &--booking {
    @include font($font-size__title--large, $line-height, bold);
    padding-bottom: 22px;
    padding-top: 35px;

    @include tablet {
      @include font($font-size__title--xlarge, $line-height, bold);
      padding: 0;
      margin-top: 15px;
    }
  }
}

.context__description {
  width: 90%;
  padding-bottom: 10px;

  @include tablet {
    width: 100%;
    padding: 0;
  }

  &--photo {
    padding: 0;
    padding-top: 24px;
    padding-bottom: 28px;
    width: 86%;
  }

  &--booking {
    @include font($font-size__description, $line-height--medium, normal);

    @include tablet {
      width: 76%;
    }

    @include desktop {
      width: 50%;
    }
  }
}

.context__mask {
  @include mobile {
    z-index: 3;
    position: absolute;
    background-image: url("../img/bg-triangle.svg");
    background-position: 50% bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 320px;
    min-height: 37px;
    bottom: -37px;
  }
}
