.context {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  @include tablet {
    min-height: 206px;
    width: 70%;
    margin: 0 auto;
  }
}

.context__title {
  padding: 0 15px;
  padding-top: 45px;
  width: 90%;
}

.context__description {
  width: 90%;
  padding: 30px 0;
}

.context__mask {
  @include mobile {
    z-index: 3;
    position: absolute;
    background-image: url("../img/bg-triangle.svg");
    background-position: 50% bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 320px;
    min-height: 37px;
    bottom: -37px;
  }
}
