// Стили меню
.main-nav {
  display: flex;
  width: 100%;
  flex-direction: column;

  @include tablet {
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 56px;
    display: flex;
    width: 100%;
  }

  @include desktop {
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 56px;
    width: 1200px;
    display: flex;
  }
}

.main-nav__menu {
  list-style: none;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
    background-color: $color__primary;

    @include font($font-size__title, $line-height--large, bold);
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    background-color: $color__primary-text;

    @include font($font-size__description, $line-height, bold);
  }
}

.site-list__link {
  @include mobile {
    color: $color__primary-text;
  }

  @include tablet {
    color: $color__menu-text;
  }
}

.main-nav__toggle {
  z-index: 3;
  position: absolute;
  margin-bottom: 31px;
  right: 20px;
  top: 15px;
  border: 0;
  background-color: $color__primary-text;

  &:focus {
    outline: 0;
  }

  @include tablet {
    display: none;
  }
}

.main-nav__list {
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include tablet {
    display: flex;
    width: 100%;
    height: 56px;
  }

  @include desktop {
    height: 56px;
    width: 1200px;
  }
}

.main-nav__wrapper {
  @include mobile {
    position: relative;
    min-height: 56px;
  }

  @include tablet {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  @include desktop {
    width: 1200px;
  }
}

.toggle__icon {
  position: absolute;
  right: 20px;
  height: 22px;
  cursor: pointer;

  @include tablet {
    display: none;
  }

  &--open {
    fill: $color__primary;
    width: 22px;
  }

  &--close {
    fill: $color__primary-text;
    width: 23px;
  }
}
