.page-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include mobile {
    flex-direction: column;
    min-height: 233px;
  }

  @include tablet {
    flex-direction: row;
    min-height: 120px;
  }

  @include desktop {
    flex-direction: row;
    min-height: 120px;
  }
}

.page-footer__contacts {
  font-size: $font-size__title--large;
}

.page-footer__copyright {
  font-size: $font-size__description;
}
