.page-booking__button {
  @include font($font-size__title--large, $line-height, bold);
  width: 280px;
  height: 58px;
  margin-top: 15px;
  margin-bottom: 50px;

  @include tablet {
    width: 458px;
    height: 58px;
    margin-top: -2px;
    margin-bottom: 58px;
    margin-left: 5px;
  }

  @include desktop {
    margin-top: 0;
    margin-bottom: 67px;
    margin-left: 0;
  }
}

.page-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
