.page {
  min-height: 100%;
  margin: 0 auto;
  background-color: $color__primary-text;
  min-width: 320px;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
  }
}
