.page-booking__button {
  @include font($font-size__title--large, $line-height, bold);
  background-color: $color__primary;
  color: $color__primary-text;
}

.page-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
