.page-header__logo {
  display: flex;
  justify-content: center;
  width: 320px;
  height: 56px;
  position: absolute;

  @include tablet {
    left: 50%;
    width: 102px;
    height: 56px;
    background: 0 0;
    transform: translateX(-50%);
  }
}
