.page-intro {
  z-index: 1;
  position: relative;
}

.page-intro__background,
.page-intro__background img {
  min-height: 389px;
}

.page-intro__logo {
  position: absolute;
  left: 50%;
  top: 90px;
  transform: translate(-50%);
}

.page-intro__mask {
  @include mobile {
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-width: 320px;
    min-height: 57px;
    bottom: 0;
  }
}
