.page-booking__button {
  @include font($font-size__title--large, $line-height, bold);
  width: 280px;
  height: 58px;
  margin: 15px 32px;
}

.page-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
