.photo-gallery {
  display: grid;

  @include mobile {
    grid-template-columns: 1fr;
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo-gallery__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  &:first-of-type {
    @include tablet {
      grid-column: 1 / -1;
    }

    @include desktop {
      grid-column: 1 / -1;
    }
  }
}

.photo-gallery__item img {
  width: 100%;
  height: 100%;
}
