.photo-gallery {
  display: grid;

  @include mobile {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.photo__image {
  margin-top: 22px;

  @include tablet {
    margin-top: 0;
  }
}

.photo-gallery__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  &:first-of-type {
    @include tablet {
      grid-column: 1 / -1;
    }

    @include desktop {
      grid-column: 1 / -1;
    }
  }

  @include mobile {
    border-top: 1px solid $color__neutral--hover;

    &:last-of-type {
      border-bottom: 1px solid $color__neutral--hover;
    }
  }

  @include desktop {
    position: relative;
  }
}

.photo__wrapper {
  line-height: 0;

  @include mobile {
    margin: 0 auto;
    width: 280px;
  }
}

.photo-description {
  display: flex;
  flex-direction: column;
  min-height: 112px;

  @include font($font-size__description, $line-height--small);

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
    background-color: $color__neutral;
    width: 100%;
  }

  @include desktop {
    position: absolute;
    bottom: 0;
    color: $color__primary-text;
    background-color: rgba($color: $color__menu-text, $alpha: 0.3);
  }
}

.photo-description__text {
  @include tablet {
    padding-left: 20px;
  }
}

.photo-description__title {
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 4px;

  @include tablet {
    padding-top: 15px;
    padding-bottom: 0;
  }
}

.photo-description__author {
  text-transform: none;
}

.photo-description__like {
  display: flex;
  align-items: center;

  @include tablet {
    padding-right: 30px;
  }
}

.photo-likes__icon {
  width: 23px;
  height: 21px;
  opacity: 0.3;

  @include desktop {
    opacity: 1;
    fill: $color__primary-text;
  }
}

.photo-likes__counter {
  font-weight: bold;
  padding-left: 14px;
  padding-top: 4px;
}
