.popup {
  z-index: 10;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  padding: 20px;
  width: 320px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
