.progress-bar__line {
  position: relative;
  width: 235px;
  height: 3px;
  background-color: rgba($color: $color__primary-text, $alpha: 0.2);

  @include tablet {
    width: 389px;
  }

  @include desktop {
    width: 540px;
  }
}

.progress-bar__dot {
  z-index: 5;
  position: absolute;
  left: 15%;
  bottom: -5px;
  width: 10px;
  height: 10px;
  background-color: $color__primary-text;
  border-radius: 50%;

  @include tablet {
    left: 32%;
  }

  @include desktop {
    left: 23%;
  }
}
