@import "../common/fonts.scss";
@import "../common/colors.scss";
@import "../common/screens";

.reasons {
  display: grid;
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.reason--highlight {
  background-color: $color__primary;
  color: $color__primary-text;
}

.reason--accent {
  background-color: $color__secondary;
}

.reasons__list {
  list-style: none;
  display: grid;

  @include mobile {
    grid-template-columns: 1fr;
  }

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.reasons__highlight {
  display: grid;

  @include mobile {
    grid-template-columns: 1fr;
  }

  @include tablet {
    grid-template-columns: 1fr 2fr;
  }

  @include desktop {
    grid-template-columns: 1fr 2fr;
  }
}
