.reasons {
  display: grid;
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 256px;

  @include mobile {
    min-width: 320px;
    min-height: 191px;
  }

  &--decorated {
    @include mobile {
      min-height: 227px;
    }
  }
}

.reason--highlight {
  background-color: $color__primary;
  color: $color__primary-text;
}

.reason--reverted {
  @include tablet {
    order: 2;
  }
}

.reason--accent {
  background-color: $color__secondary;

  @include mobile {
    &:not(:last-child)::after {
      content: "";
      width: 90%;
      border-bottom: 1px solid $color__border;
    }

    min-height: 168px;
  }

  @include tablet {
    min-height: 256px;
  }
}

.reasons__list {
  list-style: none;
  display: grid;

  @include mobile {
    grid-template-columns: 1fr;
    justify-content: start;
    align-content: start;
    min-width: 320px;
  }

  @include tablet {
    grid-template-areas: "left center right";
    grid-template-columns: repeat(3, 1fr);
  }
}

.reasons__highlight {
  display: grid;
  overflow-y: hidden;

  @include mobile {
    grid-template-columns: 1fr;
  }

  @include tablet {
    grid-template-columns: 1fr 2fr;
    max-height: 256px;
  }

  &--reverted {
    @include tablet {
      grid-template-columns: 2fr 1fr;
      max-height: 256px;
    }
  }
}

.reasons__image {
  @include mobile {
    margin: 0 auto;
  }

  @include desktop {
    width: 800px;
  }
}

.reason__title {
  margin-top: 35px;
}

.reason__count {
  margin-top: 5px;
}

.reason__description {
  margin-top: 10px;
}
