.review-personal-info {
  grid-area: personal-info;
}

.review-personal-info__wrapper {
  display: flex;
  flex-direction: column;
}

.review-personal-info__input {
  display: flex;
  align-items: center;

  @include desktop {
    padding-left: 60px;
  }
}

.review-contacts {
  grid-area: contacts;
}

.review-contacts__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 28px;

  @include desktop {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.review-contacts__input {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 20px;

  &--email {
    padding-bottom: 12px;
    padding-top: 17px;
  }
}

.review-contacts__input--phone {
  padding-bottom: 15px;

  @include desktop {
    display: none;
  }
}

.review-contacts__input--phone-desktop {
  display: none;

  @include desktop {
    display: block;
  }
}

.review-impressions {
  grid-area: impressions;
}

.review-impressions__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 200px;
  padding-top: 15px;
}

.review-sightseeing {
  grid-area: sightseeing;
}

.review-sightseeing__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 80px;
  padding-top: 8px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.review-sightseeing__check {
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: -2px;
  }

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 25%;
  }
}

.review__text {
  grid-area: text;
}

.review__button {
  grid-area: button;
  min-height: 58px;
  width: 280px;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 41px;

  @include font($font-size__title--large, $line-height, bold);
}

.review__footnote {
  grid-area: footnote;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include mobile {
    display: none;
  }
}

.review {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "personal-info"
    "contacts"
    "impressions"
    "sightseeing"
    "text"
    "button";

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "impressions personal-info"
      "contacts contacts"
      "sightseeing sightseeing"
      "text text"
      "button footnote";
  }
}

.review-section {
  border: none;
  position: relative;

  @include mobile {
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;

    &::before {
      content: "";
      border-top: 1px solid $color__neutral--hover;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
    }
  }
}

.review-section__title {
  padding: 22px 0;
  text-align: center;
  position: relative;

  @include font($font-size__title, $line-height, bold);

  &--sightseeing {
    padding-top: 16px;
    padding-bottom: 27px;
  }
}

.review-section__textarea {
  overflow: hidden;
  resize: none;
  width: 100%;
  min-height: 160px;
  border: none;
  background-color: $color__neutral;
  color: $color__menu-text;
  padding-top: 11px;
  padding-left: 20px;

  @include font($font-size__title, $line-height, bold);

  &:hover {
    background-color: $color__neutral--hover;
  }

  &:focus {
    background: $color__primary-text;
    border: 4px solid $color__neutral--hover;
  }

  &::placeholder {
    color: $color__menu-text;
  }
}
