.sightseeing {
  grid-area: sightseeing;
}

.sightseeing__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 80px;

  @include tablet {
    flex-direction: row;
  }
}

.sightseeing__check {
  display: flex;
  align-items: center;
  text-transform: none;
}

.sightseeing__input {
  position: absolute;
  appearance: none;
}

.sightseeing__checkbox {
  z-index: 3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  width: 46px;
  height: 46px;
  background: $color__neutral;
  border: 5px solid $color__neutral;
  border-radius: 5px;
  margin-left: -60px;

  &:hover {
    background-color: $color__neutral--hover;
    border: 5px solid $color__neutral--hover;
  }

  &:active {
    background-color: $color__neutral--darker;
    border: 5px solid $color__neutral--darker;
  }

  &:only-child {
    opacity: 0.3;
  }
}

.sightseeing__tick {
  display: none;
  width: 23px;
  height: 16px;
}

.sightseeing__input:checked + .sightseeing__checkbox > .sightseeing__tick {
  display: block;
}
