.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  padding-top: 5px;
  border-bottom: 1px solid $color-menu-shadow;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  background-color: $color__primary;
  box-sizing: border-box;

  @include tablet {
    width: calc((100% - 156px) / 4);
    padding: 15px;
    border: 0;
    background-color: $color__primary-text;
    box-sizing: border-box;

    &:nth-child(3) {
      margin-left: auto;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include desktop {
    width: calc((100% - 244px) / 4);
    padding: 15px;
    border: 0;
    background-color: $color__primary-text;

    &:nth-child(2) {
      margin-right: auto;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &:hover {
    @include mobile {
      background-color: $color__primary--hover;
    }
  }

  &:active {
    @include mobile {
      background-color: $color__primary--darker;
    }
  }

  &:active .site-list__item-menu {
    @include mobile {
      color: $color__menu-text--light;
    }
  }
}

.site-list__item-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;

  @include font($font-size__title, $line-height--large, bold);
  text-align: center;
  color: $color__primary-text;
  text-decoration: none;

  @include tablet {
    width: 100%;
    min-width: auto;
    padding: 0;

    @include font($font-size__description, $line-height, bold);
    text-align: center;
    color: $color__menu-text;
  }

  @include desktop {
    margin: 0;

    @include font($font-size__description, $line-height, bold);
    text-align: center;
    color: $color__menu-text;
  }

  &--main {
    @include mobile {
      position: relative;
    }
  }

  &:hover {
    @include tablet {
      color: $color__menu-text--hover;
    }
  }

  &:active {
    @include tablet {
      color: $color__menu-text--light;
    }
  }

  &--active {
    @include tablet {
      color: $color__accent-text;
    }

    &:hover {
      @include tablet {
        color: $color__accent-text--hover;
      }
    }

    &:active {
      @include tablet {
        color: $color__accent-text--light;
      }
    }
  }
}
