.social__list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
}

.social__icon {
  &--twitter {
    width: 14.5px;
    height: 17.5px;
  }

  &--facebook {
    width: 9px;
    height: 19px;
  }

  &--youtube {
    width: 20px;
    height: 14px;
  }
}

.social__item {
  margin-right: 6px;
  background-color: $color__primary;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: $color__primary--hover;
  }

  &:active {
    background-color: $color__primary--darker;
  }

  &:active svg {
    opacity: 0.3;
  }
}
