.button {
  font-family: inherit;
  background-color: $color__primary;
  color: $color__primary-text;
  font-size: 100%;
  padding: 0;
  margin: 0;
  border: none;
  text-transform: uppercase;
}

.button:active .button-text {
  opacity: 0.3;
}
