.input-filed {
  padding-bottom: 20px;
}

.input-filed__text {
  border: none;
  background-image: none;
  box-shadow: none;
  height: 58px;
  background-color: $color__neutral;
  margin-left: 10px;
  padding-left: 10px;
}
