@import "normalize.css/normalize";
@import "./common/visually-hidden.scss";
@import "./common/colors";
@import "./common/fonts";
@import "./common/screens";
@import "./common/button.scss";
@import "./blocks/context.scss";
@import "./blocks/copyright.scss";
@import "./blocks/features.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/page.scss";
@import "./blocks/page-booking.scss";
@import "./blocks/page-header.scss";
@import "./blocks/page-intro.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/photo-gallery.scss";
@import "./blocks/reasons.scss";
@import "./blocks/review.scss";
@import "./blocks/site-list.scss";
@import "./blocks/social.scss";

.js-invisible {
  @include mobile {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $color__neutral;
}

body {
  font-family: "PT Sans", "Times New Roman", sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  @include mobile {
    @include font($font-size__title, $line-height, bold);
  }

  @include tablet {
    @include font($font-size__title--large, $line-height, bold);
  }

  @include desktop {
    @include font($font-size__title--large, $line-height, bold);
  }
}

.description {
  @include font($font-size__description, $line-height);
}
